@font-face {
  font-family: "Poppins";
  src: url("poppinsFamily/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("poppinsFamily/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

body {
  background-color: rgba(43, 43, 43, 1);
  color: white;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  box-sizing: border-box;
}

.wallet-logo {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  margin-right: auto;
  font-size: 1.3rem;
}

.header__entrance {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.header__sign-up {
  color: white;
  text-decoration: none;
}

.button {
  border-radius: 15px;
  width: 175px;
  background-color: rgba(191, 175, 242, 1);
}

.link {
  color: rgba(51, 51, 51, 1);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-inline: 100px;
}

.main__group {
  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 115px;
}

.main__left-panel {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main__title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  margin: 0;
  margin-top: 30px;
  line-height: 1.5;
}

.subtitle {
  opacity: 40%;
  margin: 0;
  margin-top: 40px;
  line-height: 1.8;
}

.main__button-get-started--color {
  background-color: rgba(248, 213, 126, 1);
}

.main__button-get-started--indentation {
  margin-top: 70px;
}

.main__screenshot {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 20px;
  width: clamp(335px, 39vw, 500px);
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.logos::before {
  content: " ";
  background: rgba(255, 255, 255, 0.2);
  width: clamp(335px, 84vw, 1080px);
  height: 1px;
  top: 0px;
  position: absolute;
}

.logos::after {
  content: " ";
  background: rgba(255, 255, 255, 0.2);
  width: clamp(335px, 84vw, 1080px);
  height: 1px;
  bottom: 0px;
  position: absolute;
}

.logos__picture {
  width: clamp(310px, 73vw, 931px);
  max-height: 35px;
  position: relative;
}

.product {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  box-sizing: border-box;
}

.product__picture {
  width: clamp(335px, 84vw, 1080px);
  max-height: 500px;
  border-radius: 20px;
  background-color: rgba(253, 245, 223, 1);
}

.features {
  padding-inline: 124px;
  padding-block: 50px;
}

.feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.feature-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-list__card {
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
  position: relative;
}

.card__icon {
  background-image: linear-gradient(#3d81ff, #65e2fd),
    linear-gradient(rgba(167, 244, 206, 1), rgba(125, 229, 174, 1));
  width: 60px;
  height: 44px;
  border-radius: 8px;
  background-repeat: no-repeat;
  position: relative;
  top: 17px;
}

.card__icon-background {
  background-image: linear-gradient(
    rgba(167, 244, 206, 1),
    rgba(125, 229, 174, 1)
  );
  width: 60px;
  height: 44px;
  border-radius: 8px;
  position: absolute;
  background-repeat: no-repeat;
  top: -8px;
  left: 11px;
  z-index: -1;
}

.card__vector-yellow-1 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(248, 213, 126, 1);
  position: absolute;
  margin-right: 50px;
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 6px;
}

.card__vector-yellow-2 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(248, 213, 126, 1);
  position: absolute;
  margin-right: 40px;
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.card__vector-yellow-3 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(248, 213, 126, 1);
  position: absolute;
  margin-right: 32px;
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 24px;
}

.feature-list__subtitle--align {
  margin: 0;
  text-align: center;
  margin-left: 30px;
  margin-right: 24px;
  line-height: 1.8;
}

.card-coin__icon {
  background-image: linear-gradient(
    rgba(186, 153, 253, 1),
    rgba(206, 192, 253, 1)
  );
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  padding-block: 8px;
  padding-inline: 8px;
}

.card-coin__wrapper {
  background-color: rgba(184, 151, 253, 1);
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-inline: 20px;
  padding-block: 10px;
}

.purse-card__layer-1 {
  max-width: 60px;
  height: 60px;
  position: relative;
  background-color: rgba(248, 213, 126, 1);
  top: 14px;

  border-radius: 18% 10% 53% / 111% 62% 144% 162%;
}

.purse-card__layer-2 {
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: linear-gradient(rgba(255, 76, 84, 1), rgba(190, 63, 69, 1));
  background-repeat: no-repeat;
  z-index: 1;
  margin-left: 44px;
  margin-right: 6px;
  margin-top: 30px;
  margin-bottom: 18px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-inline: 2px;
  padding-block: 2px;
}

.purse-card__sublayer-1 {
  background-image: linear-gradient(rgba(255, 76, 84, 1), rgba(190, 63, 69, 1));
  background-repeat: no-repeat;
  width: 8px;
  height: 7px;
  border-radius: 50%;
}

.purse-card__layer-4 {
  width: 70px;
  height: 40px;
  background-color: rgba(255, 98, 80, 1);
  position: absolute;
  z-index: -1;
  margin-top: 5px;
  border-radius: 8px;
  left: 2px;
}

.purse-card__layer-5 {
  width: 60px;
  height: 20px;
  background-color: rgba(0, 147, 121, 1);
  position: absolute;
  z-index: -2;
  left: 3px;
  transform: rotate(158deg);
  border-radius: 8px;
}

.purse-card__layer-6 {
  width: 70px;
  height: 50px;
  position: absolute;
  z-index: -3;
  background-color: rgba(225, 195, 121, 1);
  border-radius: 8px;
  top: -5px;
  left: 2px;
}

.purse-card__layer-7 {
  width: 70px;
  height: 55px;
  position: absolute;
  z-index: -4;
  border-radius: 8px;
  background-color: rgba(248, 213, 126, 1);
  top: -9px;
}

.user-feedback {
  padding-inline: 100px;
  padding-block: 30px;
  box-sizing: border-box;
}

.user-feedback__wraper {
  display: flex;
  flex-direction: column;
  background-color: rgba(191, 175, 242, 1);
  border-radius: 20px;
  padding-inline: 162px;
  padding-block: 83px;
  box-sizing: border-box;
  row-gap: 50px;
}

.user-feedback__description {
  color: rgba(43, 43, 43, 1);
  font-size: 24px;
  line-height: 1.7;
  margin: 0;
  font-weight: 600;
}

.user-info__name {
  color: rgba(43, 43, 43, 0.4);
  line-height: 1.8;
}

.user-info__icon img {
  box-sizing: border-box;
  border-radius: 50%;
  border-color: rgba(188, 188, 188, 1);
  border-style: solid;
  border-width: 2px;
}

.user-info {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.user-info__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.user-info__rating {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 5px;
}

.fa-star {
  color: rgba(43, 43, 43, 1);
}

.contacts {
  box-sizing: border-box;
  padding: 100px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.contacts__title {
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 600;
  line-height: 1.5;
  margin-top: 13px;
}

.contacts__subtitle--align {
  margin-top: 30px;
}

.contacts__get-started--color {
  background-color: rgba(248, 213, 126, 1);
}

.contacts__get-started--indentation {
  margin-top: 30px;
}

.contacts__img {
  width: clamp(335px, 39vw, 500px);
}

.footer {
  padding: 50px;
  column-gap: 80px;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50% 50%;
  position: relative;
}

.footer::before {
  content: " ";
  background: rgba(255, 255, 255, 0.2);
  width: clamp(335px, 92vw, 1180px);
  height: 1px;
  top: 0px;
  position: absolute;
}

.copyrigth {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.copyright__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.copyright__item {
  font-weight: 600;
  line-height: 1.8;
}

.copyright__item:not(:last-child) {
  margin-right: 30px;
}

.copyright__item span {
  margin-right: 10px;
}

.footre__email-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: clamp(335px, 47vw, 501px);
  justify-content: flex-end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.email-info__email {
  display: flex;
  column-gap: 25px;
}

.email-info__descritption {
  display: inline-flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
}

.email-info__email-form {
  flex-grow: 1;
}

.email-info__user-email {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(51, 51, 51, 1);
  border-radius: 15px;
  flex-grow: 2;
  padding-block: 10px;
  padding-left: 30px;
  box-sizing: border-box;
}

@media (max-width: 1277px) {
  .main {
    padding-inline: 20px;
  }
  .main__left-panel {
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
  }

  .main__screenshot {
    height: auto;
  }

  .logos__picture {
    max-width: 600px;
    height: auto;
  }

  .product {
    height: auto;
  }

  .product__picture {
    height: auto;
  }

  .contacts__img {
    height: auto;
  }

  .footer {
    column-gap: 20px;
  }
}
@media (max-width: 1050px) {
  .footer {
    padding-inline: 25px;
    row-gap: 20px;
  }

  .footre__email-info {
    grid-column: 3;
    grid-row: 2;
  }

  .email-info__email {
    flex-direction: column;
    row-gap: 20px;
    column-gap: 10px;
  }

  .email-info__email-form {
    max-width: 100%;
    min-width: 50%;
  }

  .email-info__send {
    max-width: 100%;
    text-align: center;
    min-width: 60%;
    width: 100%;
  }

  .footer__wallet-logo {
    grid-column: 3;
    align-self: flex-end;
  }

  .footre__email-info {
    grid-row: 1;
    grid-column: 1;
  }

  .footer__copyrigth {
    grid-row: 2;
    grid-column: 1 / 4;
    margin-top: 30px;
  }

  .email-info__user-email {
    width: 100%;
  }
}

@media (max-width: 1025px) {
  .features {
    padding-inline: 30px;
  }

  .user-feedback__description {
    margin-right: 50px;
  }
  .main__group {
    column-gap: 60px;
  }
}

@media (max-width: 845px) {
  .main__left-panel {
    margin-bottom: 60px;
  }

  .main__button-get-started {
    align-self: center;
  }
}

@media (max-width: 775px) {
  .main {
    padding-block: 70px;
    padding-inline: 20px;
  }

  .header__button {
    text-align: center;
  }

  .logos {
    padding-inline: 80px;
    padding-block: 70px;
  }

  .features {
    padding-inline: 32px;
    padding-block: 40px;
  }

  .features__list {
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .feature-list__subtitle {
    margin: 0;
  }

  .user-feedback {
    padding-inline: 20px;
    padding-block: 50px;
  }

  .user-feedback__wraper {
    padding-inline: 70px;
    padding-block: 80px;
    align-items: center;
  }

  .user-feedback__description {
    text-align: center;
    margin: 0;
  }

  .contacts__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .contacts {
    padding: 50px 20px;
    text-align: center;
  }

  .contacts__wrapper {
    align-items: center;
  }

  .contacts__description {
    align-items: center;
    margin: 0;
  }

  .ccontacts__title {
    margin: 0;
  }
  .contacts__img {
    margin-top: 60px;
  }

  .footer__wallet-logo {
    padding-left: 25px;
  }

  .footer {
    padding-inline: 20px;
    align-items: center;
  }

  .copyright__list {
    column-gap: 0;
    row-gap: 20px;
  }

  .email-info {
    order: -1;
  }

  .email-info__email {
    flex-direction: column;
    row-gap: 20px;
    column-gap: 10px;
  }

  .email-info__email-form {
    max-width: 100%;
  }

  .email-info__send {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .email-info__link {
    max-width: 100%;
    padding-inline: 155px;
  }

  .footer {
    row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 15px;
  }

  .footer__copyrigth {
    grid-row: 3;
  }

  .footre__email-info {
    grid-row: 2;
    grid-column: 1;
  }

  .footer__wallet-logo {
    margin-bottom: 35px;
    align-self: flex-end;
    grid-column: 1;
  }

  .footer::before {
    margin-inline: 20px;
  }
}

@media (max-width: 640px) {
  .header {
    padding-inline: 25px;
  }

  .main {
    padding-inline: 50px;
  }

  .header__entrance {
    column-gap: 20px;
  }

  .logos {
    padding-inline: 50px;
    padding-block: 40px;
  }

  .logos__picture {
    max-width: 400px;
  }

  .product {
    padding: 40px 50px;
  }

  .copyright__list {
    flex-direction: column-reverse;
  }

  .footre__email-info {
    grid-row: 2;
    grid-column: 2;
  }

  .footer__copyrigth {
    grid-row: 2;
  }
}

@media (max-width: 560px) {
  .footre__email-info {
    grid-column: 1;
  }

  .footer__copyrigth {
    grid-row: 3;
    grid-column: 1;
  }

  .copyright__list {
    flex-direction: row;
  }
}

@media (max-width: 440px) {
  .header__entrance {
    visibility: hidden;
  }
}

@media (max-width: 376px) {
  .header {
    padding-left: 25px;
  }

  .header__sign-up {
    display: none;
  }

  .header__button {
    display: none;
  }

  .main {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .main__screenshot {
    width: 335px;
    height: 299px;
  }

  .main__title {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .main__subtitle {
    margin-top: 0;
    margin-bottom: 72px;
  }

  .main__button-get-started {
    margin-top: 0;
  }

  .main__group {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  .main__left-panel {
    text-align: center;
    padding-block: 0px;
    margin-bottom: 60px;
  }

  .main__subtitle {
    display: ruby;
  }

  .main__button-get-started {
    align-self: center;
  }

  .logos__picture {
    display: none;
  }

  .logos {
    background-image: url("photo/Logos 375.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 51px;
    padding-bottom: 50px;
    padding-left: 33px;
    padding-right: 32.5px;
  }

  .product {
    padding: 60px 20px;
  }

  .user-feedback__wraper {
    padding-inline: 30px;
  }

  .contacts {
    padding: 50px 20px;
    text-align: center;
  }

  .contacts__wrapper {
    align-items: center;
  }

  .contacts__description {
    align-items: center;
    margin: 0;
  }

  .contacts__title {
    margin: 0;
  }

  .contacts__img {
    margin-top: 60px;
  }

  .footer {
    row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .footer__copyrigth {
    grid-row: 3;
  }

  .footre__email-info {
    grid-row: 2;
    grid-column: 1;
  }

  .copyright__list {
    flex-direction: column-reverse;
  }

  .footer__wallet-logo {
    margin-bottom: 35px;
    align-self: flex-end;
  }

  .footer::before {
    margin-inline: 20px;
  }
}
